<footer>
    <div class="footer-container">
        <div class="right" style="display: flex; align-items: center; gap: 10px; ">
            <div class="footer-logo">
                <img src="/assets/bths.png" height="30px" width="30px" alt="">
            </div>
            <strong class="footer-text">
                <a href="">
                    Bauan Technical High School <span style="color:#869099;">All rights received</span>
                </a>
            </strong>
            
            
           
        </div>
        <div class="left"style="display: flex; align-items: center;" >
            <b style="color:#869099;">Admin Portal</b>
        </div>
    </div>
</footer>