@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}
footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(255, 255, 255);
    border-top: 1px solid rgb(224, 224, 224);
    height: 50px;
    width: 100%;
      
    .footer-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width: 100%;
        padding: 0 20px;
        
       
    }
    a{
        text-decoration: none;
        color:rgb(155, 38, 38);    }
}