<div class="class-info" >
    <div class="d-flex flex-row">
        <div class="col-md-3">
            <div class="card card1 p-3">
                <div class=" image d-flex flex-row align-items-center mt-3" style="align-items: center;justify-content: center;"> <span>Admin Dashboard</span> </div>
                <hr class="hline">
                <div class="d-flex flex-column align-items-center"> 
                    <button class="btn " routerLink="/admin-dash"><span>Dashboard</span></button> 
                    <button class="btn mt-3 " routerLink="/class-info"><span>Class Info</span></button> 
                    <button class="btn mt-3" routerLink="/subjects"><span>Subjects</span></button> 
                  
                    <button class="btn mt-3 active" routerLink="/students"><span>Students</span></button> 
                    <button class="btn mt-3" routerLink="/teachers"><span>Teachers</span></button> 
                    <button class="btn mt-3" routerLink="/settings"><span>Settings</span></button> 
                    <button class="btn mt-3" routerLink="/users"><span>Users</span></button>  
                    
                </div>
            </div>
        </div>
        <div class="col-md-9" style="position:relative;">
            <div class="card card2 p-3" >
                <app-header></app-header>

                <div class="hello d-flex justify-content-baseline align-items-center mt-3"> 
                    <span style="text-transform:uppercase; font-size: 2rem; margin-bottom: 10px;">students lists</span>
                    

                    
                </div>
               
                <div class="pages">
                    <a><i class="fas fa-tachometer-alt" style="margin-right: 8px;"></i>Dashboard  /  Students Lists</a>
                </div>
                <div class="" style="display: flex; gap: 6px;align-items: center; padding-bottom:20px ;padding-top :20px ;" >
                   
                    <input type="text" [(ngModel)]="tosearch" class="form-control" placeholder="Search" style="width: 350px;">
                        

                    
                    <button (click)="searchStudent()" type='submit' class="butt btn-success"><i class="fas fa-search" style="margin-right: 5px;"></i>Search</button>
                    <button (click)="reset()" type='submit' class="butt btn-primary" data-bs-toggle="modal" data-bs-target="#add_students"><i class="fas fa-plus" style="margin-right: 5px;"></i>Add Student</button>
                    
                </div>
                
                <div class="tables" style="overflow-y: scroll; overflow-x: hidden; box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);">
                    <table class="table table-striped">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Student ID</th>
                            <th scope="col">First Name</th>
                            <th scope="col">Middle Name</th>

                            <th scope="col">Last Name</th>
                            <th scope="col">Email</th>

                            <th scope="col">Actions</th>
                            
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let students of students">
                      
                            <td scope="row">{{ students.id }}</td>
                            <td>{{ students.studid }}</td>
                            <td>{{ students.fname }}</td>
                            <td>{{ students.middle }}</td>

                            <td>{{ students.lname }}</td>
                            <td><a href="">{{ students.email }}</a></td>


                            
                            <td><a (click)="getIndividualStudent(students.id)" data-bs-toggle="modal" data-bs-target="#edit_students" class="actions" data-toggle="tooltip" data-placement="bottom" title="Edit record"><i class="far fa-edit text-primary" style="margin-right: 4px;"></i> </a>
                                <a  class="actions " data-toggle="tooltip" data-placement="bottom" title="Delete record" (click)="deleteStudent(students.id)"><i class="far fa-times-circle text-danger"></i></a></td>
                          </tr>
                          
                          
                          
                        </tbody>
                      </table>
                </div>
            </div>
            <app-footer></app-footer>
        </div>
    </div>
</div>

<div class="modal fade" id="add_students" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Students</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            
            <div class="form-group">
                <label for="exampleInputEmail1">Student ID</label>
                <input [(ngModel)]="studentid" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Student ID">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">First Name</label>
                <input [(ngModel)]="fname" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter First Name">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Last Name</label>
                <input [(ngModel)]="lname" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Last Name">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Middle Name</label>
                <input [(ngModel)]="middleName" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Middle Name">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Email</label>
                <input [(ngModel)]="email" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Email">
            </div>
            
            
                
            
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button"   (click)="addStudent()"    class="btn btn-primary">Add Student</button>
        </div>
      </div>
    </div>
</div>
<div class="modal fade" id="edit_students" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit Students</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            
            <div class="form-group">
                <label for="exampleInputEmail1">Student ID</label>
                <input [(ngModel)]="studentid" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Student ID">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">First Name</label>
                <input [(ngModel)]="fname" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter First Name">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Last Name</label>
                <input [(ngModel)]="lname" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Last Name">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Middle Name</label>
                <input [(ngModel)]="middleName" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Middle Name">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Email</label>
                <input [(ngModel)]="email" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Email">
            </div>
            
            
                
            
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button"   (click)="editStudent()"    class="btn btn-primary">Add Student</button>
        </div>
      </div>
    </div>
</div>

<app-added id="addtoast"></app-added>
<app-toast1 id="deletetoast"></app-toast1>
<app-update id="updatetoast"></app-update>
