
<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
    <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLongTitle">Contact Us</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
        <div class="modal-body">

            <div class="card">
                <div class="card-body" style="display: flex; justify-content: center; flex-direction: column;">
                    <p>For any portal login concerns contact us through the following email addresses:</p>
                    
                    <table class="w3-animate-opacity">
                      <tr>
                        <th>Servers List</th>
                        <th>Status</th>
                        <th>Time</th>
                      </tr>
                      <tr>
                        <td>Ubuntu Server 16.04.4</td>
                        <td class="actived"><a href="#">Available</a></td>
                        <td>1 year, 11 months, 23 hours, 59minutes, 59seconds</td>
                      </tr>
                      <tr>
                        <td>Virtual Machine Windows Server 2002</td>
                        <td class="actived"><a href="#">Available</a></td>
                       <td>2 year, 11 months, 23 hours, 59minutes, 59seconds</td>
                      </tr>
                      <tr>
                        <td>Windows 10 Spark server</td>
                        <td class="deactivated"><a href="#">Unavailable</a></td>
                        <td>0 year, 6 months, 2 hours, 9minutes, 40seconds</td>
                      </tr>
                      <tr>
                        <td>Windows XP Professional</td>
                        <td class="deactivated"><a href="#">Unavailable</a></td>
                       <td>0 year, 0 month, 0 hours, 0 minutes, 0 seconds</td>
                      </tr>
                    
                    </table>
                  
                
                </div>
              </div>
            
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
  
