<div class="class-info" >
    <div class="d-flex flex-row">
        <div class="col-md-3">
            <div class="card card1 p-3">
                <div class=" image d-flex flex-row align-items-center mt-3" style="align-items: center;justify-content: center;"> <span>Admin Dashboard</span> </div>
                <hr class="hline">
                <div class="d-flex flex-column align-items-center"> 
                    <button class="btn " routerLink="/admin-dash"><span>Dashboard</span></button> 
                    <button class="btn mt-3 " routerLink="/class-info"><span>Class Info</span></button> 
                    <button class="btn mt-3" routerLink="/subjects"><span>Subjects</span></button> 
                  
                    <button class="btn mt-3 " routerLink="/students"><span>Students</span></button> 
                    <button class="btn mt-3 active" routerLink="/teachers"><span>Teachers</span></button> 
                    <button class="btn mt-3" routerLink="/settings"><span>Settings</span></button> 
                    <button class="btn mt-3" routerLink="/users"><span>Users</span></button>  
                    
                </div>
            </div>
        </div>
        <div class="col-md-9" style="position:relative;">
            <div class="card card2 p-3" >
                <app-header></app-header>

                <div class="hello d-flex justify-content-baseline align-items-center mt-3"> 
                    <span style="text-transform:uppercase; font-size: 2rem; margin-bottom: 10px;">teachers lists</span>
                    

                    
                </div>
               
                <div class="pages">
                    <a><i class="fas fa-tachometer-alt" style="margin-right: 8px;"></i>Dashboard  /  Teachers List</a>
                </div>
                <div class="" style="display: flex; gap: 6px;align-items: center; padding-bottom:20px ;padding-top :20px ;" >
                   
                    <input [(ngModel)]="search" type="text" class="form-control" placeholder="Search" style="width: 350px;">
                        

                    
                    <button (click)="searchTeacher()" type='submit' class="butt btn-success"><i class="fas fa-search" style="margin-right: 5px;"></i>Search</button>
                    <button type='submit' class="butt btn-primary" data-bs-toggle="modal" data-bs-target="#add_teacher"><i class="fas fa-plus" style="margin-right: 5px;"></i>Add Teacher</button>
                    
                </div>
                
                
                <div class="tables" style="overflow-y: scroll; overflow-x: hidden; box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);">
                    <table class="table table-striped">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Faculty ID</th>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Email</th>

                            <th scope="col">Phone</th>

                            <th scope="col">Actions</th>
                            
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let teachers of teachersData">
                      
                            <td scope="row">{{ teachers.id }}</td>
                            <td>{{ teachers.teachid }}</td>
                            <td>{{ teachers.fname }}</td>
                            <td>{{ teachers.lname }}</td>
                            <td><a href="">{{ teachers.email }}</a></td>

                            <td>{{ teachers.phone }}</td>

                            
                            <td><a data-bs-toggle="modal" (click)="getIndividualTeacher(teachers.id)" data-bs-target="#updateteacher" da class="actions" data-toggle="tooltip" data-placement="bottom" title="Edit record"><i class="far fa-edit text-primary" style="margin-right: 4px;"></i> </a>
                                <a (click)="deleteTeacher(teachers.id)" class="actions " data-toggle="tooltip" data-placement="bottom" title="Delete record"><i class="far fa-times-circle text-danger"></i></a></td>
                          </tr>
                          
                          
                          
                        </tbody>
                      </table>
                </div>
            </div>
            <app-footer></app-footer>
        </div>
    </div>
</div>
<!-- modal -->

<div class="modal fade" id="add_teacher" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Teachers</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            
                <div class="form-group">
                    <label for="exampleInputEmail1">Faculty ID</label>
                    <input [(ngModel)]="teacherid" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Faculty ID">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">First Name</label>
                    <input [(ngModel)]="fname" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter First Name">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Last Name</label>
                    <input [(ngModel)]="lname" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Last Name">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input [(ngModel)]="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                
                <div class="form-group">
                    <label for="exampleInputPassword1">Phone Number
                    </label>
                    <input [(ngModel)]="phone" type="text" class="form-control" id="exampleInputPassword1" placeholder="Phone Number">
                </div>
            
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" (click)="addTeacher()"  class="btn btn-primary">Add Teacher</button>
        </div>
      </div>
    </div>
</div>
<!-- update modal -->
<div class="modal fade" id="updateteacher" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Update Teacher</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            
                <div class="form-group">
                    <label for="exampleInputEmail1">Faculty ID</label>
                    <input [(ngModel)]="teacherid" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Faculty ID">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">First Name</label>
                    <input [(ngModel)]="fname" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter First Name">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Last Name</label>
                    <input [(ngModel)]="lname" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Last Name">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input [(ngModel)]="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                
                <div class="form-group">
                    <label for="exampleInputPassword1">Phone Number
                    </label>
                    <input [(ngModel)]="phone" type="text" class="form-control" id="exampleInputPassword1" placeholder="Phone Number">
                </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" (click)="updateTeacher()"  class="btn btn-primary">Update Teacher</button>
        </div>
        </div>
    </div>
</div>

<app-added id="addtoast"></app-added>
<app-toast1 id="deletetoast"></app-toast1>
<app-update id="updatetoast"></app-update>
