<div class="dashboard-container">
    <app-side-menu id="sidemenu"></app-side-menu>



    <div class="main-content">

        <div class="contents">
            <div class="box">
                <app-header style="margin-bottom: 5px;"></app-header>

                <div class="main-menu">
                  <app-schedule></app-schedule>
                    
                    <div class="bottom">
                      
                        <a href="/print" target="_blank">
                          <button style="float: right; background-color: #0275d8; color: white;" mat-raised-button class="btn-primary" ><span class="glyphicon glyphicon-print" aria-hidden="true"></span> Print</button>
  
                        </a>
                      
                      

                    </div>


                    
                </div>

            </div>
        </div>
    </div>
</div>
